@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Arial, sans-serif;
    background-color: whitesmoke;
    color: black;
    margin:0px;
    padding:0px;
    font-size: 1.2rem;
}

@media (min-width:1024px){
    
    /*BARRA LATERAL*/
    .redes-barra {
        position: fixed;
        top: 50%; /* Centra verticalmente */
        left: 0;
        height: 35%;
        width: 60px; 
        background-color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 20px; /* Espacio superior */
        transform: translateY(-50%); /* Mueve la barra hacia arriba la mitad de su altura */
    }    
    
    .redes-barra ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .redes-barra ul li {
        margin-bottom: 20px; 
    }
    
    .redes-barra ul li a img {
        width: 35px; /* Tamaño de los íconos */
        height: 35px;
        transition: transform 0.3s ease;
    }
    
    .redes-barra ul li a img:hover {
        transform: scale(1.4); /* Efecto de aumento al pasar el ratón */
    }
    

    /*INICIO*/
    header {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 1rem;
        background-color: lightblue;
    }
    
    header h1 {
        margin: 0px;
        padding: 0.5rem;
        font-size: 2rem;
        font-weight: normal;
        margin-left: 1rem;
        margin-right: 2rem;
    }
    
    header nav {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        width: 100%;
    }
    
    header .perfil-contenedor {
        display: flex;
        align-items: center; 
        margin-left: 2rem;
    }
    
    header nav ul {
        display: flex;
        list-style: none;
        margin: 0px;
        padding: 0px;
        align-items: center;
    }
    
    header nav .Perfil img {
        width: 50px; 
        height: 50px; 
        border-radius: 50%;
        object-fit: cover; 
    }
    
    header nav ul li a {
        display: block;
        padding: 0.75rem 1rem;
        text-decoration: none;
        color: black;
        transition: background-color 1s ease;
    }
    
    header nav ul li a:hover {
        background-color: #dab1d4;
        color: #333;
    }    

    
    /*FOOTER*/
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        background-color: lightblue;
        padding: 3.5px;
        margin-top: 31rem;
    }

    footer p {
        font-size: 1.2rem;
        text-align: center;
        color: black;
        flex: 1; 
    }
}